.containerDesk{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;

}

.box1Desk{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    border: 2px solid black;
    width: 40vw;
    align-self: center;
    

}

.inputBox1{

    text-align: center;
    width: 15vw;

}

.box2Desk{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    border: 2px solid;
    width: 40vw;
    align-self: center;
    line-height: 1.2rem;

}

.box2Desk__titulo{

    text-align: center;
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;



}


.box3Desk{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    line-height: 2rem;
    border:  2px solid;
    width: 40vw;
    align-self: center;

}