
.containerDesk{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;

}

.box1Desk{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    border: 2px solid black;
    width: 40vw;
    align-self: center;
    line-height: 4rem;
    

}

.inputBox1{

    text-align: center;
    width: 15vw;

}

.box2Desk{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    align-items: flex-end;
    border: 2px solid;
    width: 40vw;
    align-self: center;
    line-height: 3rem;

}

.box2Desk__titulo{

    text-align: center;
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;



}


.box3Desk{

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    line-height: 2rem;
    border:  2px solid;
    width: 40vw;
    align-self: center;
    line-height: 4rem;

}

.inputPri{

    width: 15vw;
    height: 2vw;
    border: 3px solid rgb(106, 106, 106);
    border-radius: 10px;
    text-align: center;
    font-weight: 600;


}

.inputPri__data{

    height: 2vw;
    text-align: center;
    font-weight: 600;
}

.inputSec{

    width: 15vw;
    height: 2vw;
    border: 3px solid rgb(106, 106, 106);
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    

}

.textLong{

    width: 25vw;
    height: 5vw;
    position: relative;
    right: 5vw;

}

subTextLong{


    position: relative;
    right: 35vw;

}

button{

    width: 10vw;
    height: 2vw;
    border-radius: 5px;
    background-color: bisque;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}

.controlButton{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 2px black solid;
    width: 12vw;
    height: 3vw;
    position: relative;
    left: 13.5vw;
    bottom: 3.2vw;
}